version: '3'
services:
  web:
    image: nginx:alpine
    build: .
    ports:
      - "3000:3000"
  portainer:
    image: portainer/portainer
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
